extends ./layout.jade
block header
  header(role='banner')
    include ./includes/navigation.jade
block content
  h1= title
  span.byline Published #{date}
  if originalUrl
    span.linkback Originally published at 
      a(href=originalUrl)= originalBlog
  //-span.time Published&nbsp;
    //-time= date
  | !{body}

  //- include ./includes/comment_form.jade

  //- footer
  //-   span.byline Published #{date}
  //-   if originalUrl
  //-     span.linkback Originally published at 
  //-       a(href=originalUrl)= originalBlog
